<!DOCTYPE html>
<html>
    <head>
      <title>Sample Songlist</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


        <link rel="stylesheet" href="style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>


        <link rel="preconnect" href="https://fonts.googleapis.com"> 
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
<link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>
    <body>
        
        <div class="container">
            <h1>My Songlist</h1>
            <div class="center">
                <a href="#" class="btn btn-sm btn-dark" data-toggle="modal" data-target="#basicModal">Send In A Request</a>
            </div>
        </div>
        
        <div id="notebooks" ng-app="notebooks" ng-controller="NotebookListCtrl">
            <input type="text" id="query" ng-model="query" placeholder="Search Artist or Song"/>
            
            <ul id="notebook_ul">
              <li ng-repeat="notebook in notebooks | filter:query | orderBy: orderList">
                Song: {{notebook.name}}<br/>
                Artist: {{notebook.procesor}}<br/>
                
              </li>

              
            </ul>
            <span>Number of songs: {{notebooks.length}}</span>
          </div>



          <div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title modaltitle" class="info" id="myModalLabel">Hey there! For us to play your request, please send the name of the song through Venmo, Cash App, or Text Message and we'll play it shortly!</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                 <h1 class="info">Venmo: <a href="https://account.venmo.com/u/victorya-ross">*Link to your venmo*</a> <br> Cash App: <a href="https://cash.app/$VictoryaRoss">*Link to your Cash App*</a> <br>Text: 999-999-9999</h1>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>

          <script src="script.js"></script>

          <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
          

    </body>
</html>